aenum==3.1.17
altgraph==0.17.5
annotated-types==0.7.0
attrs==26.1.0
beautifulsoup4==4.14.3
certifi==2026.5.20
charset-normalizer==3.4.7
clang==21.1.7
colorthief==0.2.1
darkdetect==0.8.0
idna==3.16
mailbits==0.2.3
Nuitka==4.1.1
numpy==2.4.6
packaging==26.2
pefile==2024.8.26
pillow==12.2.0
puremagic==2.2.0
pydantic==2.13.4
pydantic_core==2.46.4
pypi-simple==1.8.0
PySide6==6.10.3
PySide6-Fluent-Widgets==1.11.2
PySide6_Addons==6.10.3
PySide6_Essentials==6.10.3
PySideSix-Frameless-Window==0.8.1
pywin32==311
pywin32-ctypes==0.2.3
QtPy==2.4.3
requests==2.34.2
scipy==1.17.1
Send2Trash==2.1.0
setuptools==82.0.1
shiboken6==6.10.3
soupsieve==2.8.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
winshell==0.6
zbToolLib==2.0.8.1
zbWidgetLib==3.6.1
